.hero {
  display: flex;
  flex-direction: row;
  border-radius: 8px;
  width: 100%;
  padding: 10px;
  align-items: center;
}

.scoreboard {
  display: flex;
  width: 50%;
  flex-direction: column;
  padding: 10px;
  background-color: darkblue;
  margin: 10px;
  align-items: center;
}

.teamname {
  color: white;
  font-size: xx-large;
  font-weight: bolder;
}

.score {
  color: red;
  font-size: 50px;
  font-family: cursed-timer;
}

#reset {
  background-color: aqua;
  width: 100%;
  height: 50px;
}

#reset:hover {
  background-color: red;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@font-face {
  font-family: cursed-timer;
  src: url(CursedTimerUlil-Aznm.ttf);
}

button {
  font-family: cursed-timer;
}
